html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background-image: url("../assets/street-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#canvas_output {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  text-align: center;
}
#video {
  display: none;
}

.seeThru-display {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 0 auto;
  z-index: 10;
}

#front-text {
  z-index: 20;
  position: absolute;
  left: 30%;
  bottom: 12%;
  animation-name: slideright;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-size: 2em;
  color: #fff;
}

#back-text {
  z-index: 1;
  position: absolute;
  right: 30%;
  bottom: 20%;
  animation-name: slideleft;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-size: 2em;
  color: #fff;
}

@keyframes slideright {
  from {
    left: 30%;
  }

  to {
    left: 70%;
  }
}

@keyframes slideleft {
  from {
    right: 30%;
  }

  to {
    right: 70%;
  }
}
