body {
  min-height: 100%;
  width: 100%;
  background-image: url("../assets/street-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#canvas_output {
  margin: 0 auto;
}
#video {
  display: none;
}
#buffer {
  display: none;
}
#output {
  width: 1280px;
  height: 720px;
}
